body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}

header {
    background-color: #82807e;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    text-align: center;
}

h2 {
    margin-top: 40px;
    font-size: 24px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #82807e;
    color: white;
    padding: 10px;
    text-align: center;
}